@model EmployeeModel

<div class="row">
    <h4>Employee Details</h4>
    <div class="col-md-4">
        <p>FirstName: @Model.FirstName</p>
        <p>LastName: @Model.LastName</p>
        <p>Email: @Model.Email</p>
        <p>Salary: @Model.Salary</p>
    </div>
    <div class="col-md-4">
        <p>Gender: @Model.Gender</p>
        <p>MaritalStatus: @Model.MaritalStatus</p>
        <p>BirthDate: @Model.BirthDate</p>
        <p>Hobbies: @Model.Hobbies</p>
    </div>
    <div class="col-md-4">
        <p>Address: @Model.Address</p>
        <p>Country: @Model.Country</p>
        <p>State: @Model.State</p>
        <p>City: @Model.City</p>
        <p>ZipCode: @Model.ZipCode</p>
    </div>
</div>
